<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>S A A D</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<body class="w3-sand  w3-large">

    <!-- Links (sit on top) -->
    <div class="w3-top sticky-top">
        <div class="w3-row w3-padding w3-black">
            <div class="w3-col s4">
                <a href="/" class="w3-button w3-block w3-black">Ver los animales</a>
            </div>
            <div class="w3-col s4">
                <a href="/store/stores" class="w3-button w3-block w3-black">Puntos de venta</a>
            </div>
            <div class="w3-col s4">
                <a href="/signout" class="w3-button w3-block w3-black">Cerrar sesion</a>
            </div>
        </div>
    </div>
    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
        <span class="w3-tag">Open from 6am to 5pm</span>
    </div>
    <div class="w3-display-bottomright w3-hide-small">
        <a href="/control" class="w3-button w3-block w3-black w3-tag">Boton secreto: panel de control</a>
    </div>

    <!-- Add a background color and large text to the whole page -->
    <div class="">
        <!-- adopt form -->
        <!-- Animals Container -->
        <div class="w3-container" id="menu">
            <div class="w3-content" style="max-width:750px">

                <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Catalogo de animales</span></h5>

                <div class="w3-row w3-center w3-card w3-padding">
                    <a href="javascript:void(0)" onclick="openMenu(event, 'cats');" id="myLink">
                        <div class="w3-col s6 tablink">Cats</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openMenu(event, 'dogs');">
                        <div class="w3-col s6 tablink">Dogs</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openMenu(event, 'bunnys');">
                        <div class="w3-col s6 tablink">Bunnys</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openMenu(event, 'rats');">
                        <div class="w3-col s6 tablink">Rats</div>
                    </a>
                </div>

                <div id="cats" class="w3-container w3-sand menu w3-padding-48 w3-card">
                    <table class="w3-table-all w3-hoverable">
                        <thead>
                            <tr>
                                <th>Race</th>
                                <th>Color</th>
                                <th>Fur</th>
                                <th>Birth</th>
                                <th>Vaccinated</th>
                                <th>Picture</th>
                                <th>Adopt him</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="cat : ${cats}">
                                <td th:text="${cat.race}"> </td>
                                <td th:bgcolor="${cat.color}"></td>
                                <td th:text="${cat.fur}"></td>
                                <td th:text="${cat.date}"></td>
                                <td th:text="${cat.vaccinated}"></td>
                                <td>
                                    <img th:src="${'data:image/png;base64,' + cat.str}"
                                        style="width:100%;max-width:80px" />
                                </td>
                                <td>
                                    <a th:href="@{adopt/{id}(id=${cat.id})}" class="btn btn-success">
                                        Adoptar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="dogs" class="w3-container menu w3-padding-48 w3-card">
                    <table class="w3-table-all w3-hoverable">
                        <thead>
                            <tr>
                                <th>Race</th>
                                <th>Color</th>
                                <th>Fur</th>
                                <th>Birth</th>
                                <th>Vaccinated</th>
                                <th>Picture</th>
                                <th>Adopt him</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dog : ${dogs}">
                                <td th:text="${dog.race}"> </td>
                                <td th:bgcolor="${dog.color}"></td>
                                <td th:text="${dog.fur}"></td>
                                <td th:text="${dog.date}"></td>
                                <td th:text="${dog.vaccinated}"></td>
                                <td>
                                    <img th:src="${'data:image/png;base64,' + dog.str}"
                                        style="width:100%;max-width:80px" />
                                </td>
                                <td>
                                    <a th:href="@{adopt/{id}(id=${dog.id})}" class="btn btn-success">
                                        Adoptar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="bunnys" class="w3-container menu w3-padding-48 w3-card">
                    <table class="w3-table-all w3-hoverable">
                        <thead>
                            <tr>
                                <th>Race</th>
                                <th>Color</th>
                                <th>Fur</th>
                                <th>Birth</th>
                                <th>Vaccinated</th>
                                <th>Picture</th>
                                <th>Adopt him</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="bunny : ${bunnys}">
                                <td th:text="${bunny.race}"> </td>
                                <td th:bgcolor="${bunny.color}"></td>
                                <td th:text="${bunny.fur}"></td>
                                <td th:text="${bunny.date}"></td>
                                <td th:text="${bunny.vaccinated}"></td>
                                <td>
                                    <img th:src="${'data:image/png;base64,' + bunny.str}"
                                        style="width:100%;max-width:80px" />
                                </td>
                                <td>
                                    <a th:href="@{adopt/{id}(id=${bunny.id})}" class="btn btn-success">
                                        Adoptar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="rats" class="w3-container menu w3-padding-48 w3-card">
                    <table class="w3-table-all w3-hoverable">
                        <thead>
                            <tr>
                                <th>Race</th>
                                <th>Color</th>
                                <th>Fur</th>
                                <th>Birth</th>
                                <th>Vaccinated</th>
                                <th>Picture</th>
                                <th>Adopt him</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="rat : ${rats}">
                                <td th:text="${rat.race}"> </td>
                                <td th:bgcolor="${rat.color}"></td>
                                <td th:text="${rat.fur}"></td>
                                <td th:text="${rat.date}"></td>
                                <td th:text="${rat.vaccinated}"></td>
                                <td>
                                    <img th:src="${'data:image/png;base64,' + rat.str}"
                                        style="width:100%;max-width:80px" />
                                </td>
                                <td>
                                    <a th:href="@{adopt/{id}(id=${rat.id})}" class="btn btn-success">
                                        Adoptar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img src="img/ratfat2.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
            </div>
        </div>

        <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
        <p>
            ran
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="scripts.js">   </script>

    <script src="jwt.js">    </script>
</body>

</html>